appdirs==1.4.0
arrow==0.10.0
beautifulsoup4==4.5.3
bs4==0.0.1
dateparser==0.6.0
icalendar==3.11.3
lxml==3.7.3
moment==0.8
nltk==3.2.2
numpy==1.12.0
olefile==0.44
packaging==16.8
pandas==0.19.2
Pillow==4.0.0
pocket==0.3.6
pyowm==2.6.1
pyparsing==2.1.10
python-dateutil==2.6.0
python-pptx==0.6.2
pytz==2017.2
regex==2017.6.23
requests==2.13.0
ruamel.yaml==0.15.17
six==1.10.0
slackclient==1.0.5
times==0.7
tzlocal==1.4
urllib3==1.20
websocket-client==0.40.0
xlrd==1.0.0
XlsxWriter==0.9.6
